@{
	ViewBag.Title = "Home Page";
}
<div class="row">

	<div class="col-md-12">
		<h1>Welcome to your planned trips</h1>
		<p>This app wil allow yuo to choose what cities or countries you want to visit</p>
		<a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View my planned trps</a>
	</div>

</div>